:root {
  --bg-dark: #1e1e1e;
  --bg-panel: #252526;
  --bg-header: #333333;
  --text-main: #cccccc;
  --text-dim: #858585;
  --accent: #007acc;
  --border: #3e3e42;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-main);
  overflow: hidden;
}
.control-group input{
  max-width: 100px;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 300px;
  min-width: 300px;
  background-color: var(--bg-panel);
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  z-index: 10;
}

.header {
  padding: 20px;
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--border);
}
.header h2 { margin: 0; font-size: 18px; color: white; }

.panel-section {
  padding: 20px;
}

/* FORM CONTROLS */
.tube-controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.control-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.control-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

label {
  font-size: 12px;
  color: var(--text-dim);
}

input, select {
  background-color: #3c3c3c;
  border: 1px solid #3c3c3c;
  color: white;
  padding: 6px;
  border-radius: 2px;
  font-size: 13px;
  outline: none;
}

input:focus, select:focus {
  border-color: var(--accent);
}

/* CANVAS */
.canvas-wrapper {
  flex: 1;
  background-color: #000;
  position: relative;
}